#textInput{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 70%;
}

#addBtn {
    background-color:mediumaquamarine;
    border: none;
    width: 10%;
}

#removeBtn {
    background-color: red;
    border: none;
    width: 10%;
}

.taskDiv {
    display: inline-block;
    padding: 75px;
    background-color: blanchedalmond;
    margin: 5px;
}